<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.librarymanagement">

    xmlns:tools="http://schemas.android.com/tools"


    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        tools:node="replace"
        android:allowBackup="true"
        android:icon="@mipmap/librrrrr"
        android:label="Library"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".splash"></activity>
        <activity android:name=".studentBook_Issued" />
        <activity android:name=".studentProfile" />
        <activity android:name=".BookDetail" />
        <activity android:name=".bookList" />
        <activity
            android:name=".home"
            android:label="@string/title_activity_home"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".signin" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>